<p>
  Title: <strong><%= @task.title %></strong>
</p>
<p>
  Duration: <strong><%= @task.duration %></strong>
</p>
<p>
  Price: <strong><%= @task.price %></strong>
</p>

<%= link_to 'Back', tasks_path %>
