<h1>Computer Workshop CRM</h1>

<%= link_to 'Clients', controller: 'clients' %>
<%= link_to 'Employees', controller: 'employees' %>
<%= link_to 'Tasks', controller: 'tasks' %>
<%= link_to 'Orders', controller: 'orders' %>

